name: Run Tests (Bun)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.0

      - run: bun install
      - run: PLAYWRIGHT_BROWSERS_PATH=0 bunx playwright install
      - run: bun run build
      - run: bun run test
